nav li{
    margin-left: 50px;
    position: relative;
    top: 15px;
    display: inline;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 200;
    
}

nav a:hover{
    color: #000;
}

.userTitle{
    padding-left: 200px;
}


